span.edits {
    color: blue;
}

span.edits:hover {
    cursor: pointer;
    color: red;
}

div.datum {
    border: 2px solid;
    margin: 1em;
    padding: 1em;
    height: auto;
    box-sizing: initial;
    white-space: normal;
    line-height: normal;
}

div#quill_page_data {
    border: 2px solid;
    margin: 1em;
    padding: 1em;
    height: auto;
    box-sizing: initial;
    white-space: normal;
    line-height: normal;
}