<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test 3</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='quill.css') }}" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{{ url_for('static', filename='quill.js') }}"></script>
  </head>
  <body>
    <form id="form" method="post">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name">

      <div id="editor" style="height: 50vh;"></div>

      <label for="message"></label>
      <input type="hidden" id="message" name="message">

      <button type="submit">Submit</button>

    </form>
    
    <br>

    {% if data %}
      <div id="quill_page_data" class="ql-editor">
        {{ data | safe }}
      </div>
    {% endif %}
  </body>